table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid var(--btn-color);
    padding-bottom: 20px;
}

td {
    
    text-align: center;
    height: 50px;
    vertical-align: center;
    border-bottom: 1px solid rgb(85, 85, 85);
  }

  .message {
    width: 600px;
  }