
.section{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.recipt {
    width: 60%;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
   
}

.rno{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 20px;
   border-bottom: 2px solid  black;
}

.summery{
    padding: 20px;
    border-bottom: 2px solid  black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.car-details {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
}

.user{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.amount{
    padding: 20px;
    display: flex;
    justify-content: end;
}

.line{
    height: 250px;
    border: 1px solid black;
    color: black;
    background-color: black;
}