/* registration section css */

.section-registration {
    padding: 0 3.2rem;
  
    & .container {
      /* background-color: #fff; */
      padding-top: 3.2rem;
      align-items: center;
  
      & img {
        width: 80%;
        height: auto;
      }
    }
  
    & .registration-form {
      & label {
        display: block;
        margin: 1.1rem 0 0 0;
        text-transform: capitalize;
      }
      & input {
        width: 65%;
        padding: 0.2rem 0.2rem;
      }
  
      & button {
        margin-top: 2.2rem;
      }
    }
  }
  
  